/* Global styles */
@font-face {
    font-family: 'DFVN 36daysoftype';
    src: url(/hungvuongconcert/fonts/dfvn36daysoftype.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ganh Type - Regular';
    src: url(/hungvuongconcert/fonts/ganhtyperegular.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* Ngăn tràn ngang */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Căn giữa nội dung theo chiều dọc */
    padding: 20px;
    overflow-y: auto;
    /* Cho phép cuộn dọc */
    background-color: black;
}

.data-display h2 {
    font-family: 'DFVN 36daysoftype', sans-serif;
    font-weight: normal;
}

/* Label cho checkbox */
.checkbox-label {
    display: flex;
    align-items: center;
}

.checkbox-label input[type="checkbox"] {
    margin-right: 8px;
    /* Tăng khoảng cách giữa checkbox và chữ */
}

/* Container chính */
.container {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    width: 80vw;
    /* Tăng chiều rộng để hiển thị rõ hơn */
    height: auto;
    background: white;
    border-radius: 20px;
    overflow-y: auto;
    /* Cho phép cuộn dọc nếu cần */
    overflow-x: hidden;
    /* Ngăn cuộn ngang */
    justify-content: space-between;
    /* Phân chia đều hai phần */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Thêm bóng cho container */
}

/* Phần hiển thị dữ liệu */
.data-display,
.form-section {
    width: 50%;
    /* Mỗi phần chiếm 50% chiều rộng */
    padding: 30px;
}

.data-display {
    background: linear-gradient(to right, #1DFFA2, #0066FF, #000642);
    color: white;
    border-radius: 20px 0 0 20px;
    /* Bo tròn góc bên trái */
}

.data-display h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.ticket-img {
    text-align: center;

}

.data-display img {
    width: 500px;
    height: auto;
}

.amount {
    font-size: 32px;
    font-weight: bold;
}

.details {
    margin-top: 30px;
}

.details p {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.total {
    font-weight: bold;
}

/* Phần form */
.form-section {
    padding-left: 2rem;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Căn giữa nội dung trong form */
    border-radius: 0 20px 20px 0;
    /* Bo tròn góc bên phải */
}

.form-label {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
}

.form-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.form-section input,
.form-section select {
    margin-bottom: 15px;
    padding: 12px;
    /* Tăng padding để dễ bấm hơn */
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
}

/* Nút thanh toán */
.pay-btn {
    background: linear-gradient(to right, #BF91F1, #1DFFA2, #0066FF, #000642);
    color: white;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    align-self: center;
    transition: background-color 0.3s;
}

.pay-btn:hover {
    opacity: 0.7;
}


.checkbox input {
    width: auto;
}


/* pop up */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.popup-content p {
    margin: 10px 0;
}

.popup-content button {
    margin-top: 10px;
    cursor: pointer;
}

.popup-close-btn {
    background: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.popup-close-btn:hover {
    opacity: 0.8;
}

.popup-confirm-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.popup-confirm-btn:hover {
    opacity: 0.8;
}


/* Điều chỉnh cho thiết bị di động */
@media screen and (max-width: 768px) {
    body {
        padding: 10px;
        display: block;
        align-items: unset;
    }

    .container {
        margin-top: 0;
        flex-direction: column;
        /* Sắp xếp theo chiều dọc */
        width: 100%;
        /* Chiều rộng đầy đủ */
        height: auto;
        /* Để chiều cao tự điều chỉnh */
        border-radius: 20px;
        /* Bo tròn cả container */
    }

    .data-display {
        width: 100%;
        padding: 20px;
        border-radius: 20px 20px 0 0;
        /* Bo tròn phần trên */
    }

    .data-display h2 {
        font-size: 30px;
    }

    .form-label {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 20px;
    }

    .form-section {

        padding: 20px;
        width: 100%;
        border-radius: 0 0 20px 20px;
        /* Bo tròn phần dưới */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* Căn giữa nội dung theo chiều dọc */
        align-items: center;
        /* Căn giữa nội dung theo chiều ngang */
        text-align: center;
        /* Căn giữa chữ */
    }

    .pay-btn {
        width: 100%;
        /* Nút thanh toán full-width */
    }
}