@font-face {
  font-family: 'Primary';
  src: url(./fonts/coolvetica\ condensed\ rg.otf) format('opentype'),
    url(./fonts/coolvetica\ condensed\ rg.otf) format('opentype');
  font-size: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DFVN 36daysoftype';
  src: url(/hungvuongconcert/fonts/dfvn36daysoftype.otf) format('opentype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ganh Type - Regular';
  src: url(/hungvuongconcert/fonts/ganhtyperegular.otf) format('opentype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

:root {
  --primary: #fcf6eb;
  --secondary: #0b0b0b;
}

html {
  font-size: calc(100vw /1920*10);
}

body {
  font-family: "Primary", "Ganh Type - Regular", "DFVN 36daysoftype";
  background-color: var(--primary);
  color: var(--secondary);
}

h1 {
  font-size: 38rem;
  line-height: 1.0;
  text-transform: uppercase;
}

h2 {
  font-size: 3.2rem;
}

span {
  font-size: 3.2rem;
  display: block;
  line-height: 1.3;
}

.intro span {
  font-size: 4.2rem;
}

a {
  font-size: 4.8rem;
  display: block;
  line-height: 1.3;
  text-decoration: none;
  color: var(--secondary);
}


html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "a1 a2 a3 a3";
}


/* -----> Nav section */

.nav {
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem;
  width: 100%;
  z-index: 100;
  color: white;
  background-color: black;
  mix-blend-mode: difference;
}

.nav_wrapper .dfvn {
  font-family: 'DFVN 36daysoftype', sans-serif;
}

.nav_wrapper .ganh {
  font-family: 'Ganh Type - Regular', sans-serif;
}

.nav_wrapper {
  grid-template-areas: 'a1 a2 a3 a4 a5';
}


.nav_item:nth-child(1) {
  grid-area: a1;
  text-align: center;
  padding: 5px;
}

.nav_item:nth-child(2) {
  grid-area: a2;
  text-align: center;
  padding: 5px;
}

.nav_item:nth-child(3) {
  grid-area: a3;
  text-align: center;
  padding: 5px;
}

.nav_item:nth-child(4) {
  grid-area: a4;
  text-align: center;
  padding: 5px;
}

.nav_item:nth-child(5) {
  grid-area: a4;
  text-align: center;
  padding: 5px;
}


/* hero section */
.content {
  height: 100vh;
  width: 100%;
}


.hero {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 5rem;
}

.hero_title {
  text-align: center;
  font-weight: normal;
  text-transform: none;
  font-family: 'DFVN 36daysoftype', sans-serif;
  margin: 0;
  padding: 1rem;
  display: block;
  margin-top: 50px;
  background: linear-gradient(to right, #FFFF5F, #FB6353, #BF91F1, #0066FF, #000642);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_title:nth-child(1) {
  /* border-bottom: 1px solid var(--secondary); */
  border-bottom: 1px solid white;

}



/* projecys section */

.projects {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top: 1px solid var(--secondary);
}

.projects_col {
  border-right: 1px solid var(--secondary);
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.projects_col:last-child {
  border-right: none;
}

.projects_col:nth-child(1) {
  grid-area: a1;
}

.projects_col:nth-child(2) {
  grid-area: a2;
}

.projects_col:nth-child(3) {
  grid-area: a3;
}

.projects_col_item {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid var(--secondary);
}

.projects_col:nth-child(1) .projects_col_item {
  width: 100%;
  height: 32rem;
}

.projects_col:nth-child(1) .projects_col_item:nth-child(4) {
  width: 100%;
  height: 48rem;
}

.projects_col:nth-child(2) .projects_col_item {
  width: 100%;
  height: 48rem;
}

.projects_col:nth-child(2) .projects_col_item:nth-child(2) {
  width: 100%;
  height: 32rem;
}

.projects_col:nth-child(3) .projects_col_item {
  width: 100%;
  height: 48rem;
}

.projects_col:nth-child(3) .projects_col_item:nth-child(1),
.projects_col:nth-child(3) .projects_col_item:nth-child(3) {
  width: 100%;
  height: 96rem;
}

.projects_col_item_title {
  position: absolute;
  left: 1rem;
  top: 1rem;

}

.projects_col_item_media {
  position: relative;
  width: inherit;
  height: inherit;
}

.projects_col_item_media img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects_col_item_media video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.outro {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 2rem 0;
}

.outro_title {
  display: block;
  font-size: 20rem;
  text-align: center;
  text-transform: uppercase;
}

.outro_social {
  border-top: 1px solid var(--secondary);
}

@media screen and (max-width: 768px) {
  html {
    font-size: max(100vw / 768 * 10);
  }

  body {
    overflow-y: hidden !important;
  }

  h1 {
    font-size: 15rem;
  }

  .nav {
    padding: 10px 0; /* Giảm khoảng cách padding */
  }

  .nav_wrapper {
    grid-template-columns: 1fr; /* Các mục xếp chồng thay vì hiển thị ngang */
    text-align: center; /* Căn giữa nội dung */
  }

  .nav_item {
    margin: 5px 0; /* Giảm khoảng cách giữa các mục */
  }

  .nav-effect {
    font-size: 2.7rem; /* Giảm kích thước chữ */
    line-height: 1; /* Giảm khoảng cách giữa các dòng */
  }

  .hero_title {
    font-size: 20rem !important;
  }

  .hero {
    padding-top: 8rem;
  }

  .projects_wrapper {
    display: flex;
    flex-direction: column;
  }

  .project_col {
    border-right: 1px solid var(--secondary);
  }

  .outro_title {
    font-size: 8.3rem;
  }
}





.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

:root {
  --text--orange: #ff451c;
  /* --text--white: white; */
  --padding--64: 64px;
  --padding--40: 40px;
  /* --bg--beige: #fdf7ec; */
  --padding--48: 48px;
  --padding--32: 32px;
  --bg--orange: #ff451c;
  --gap--40: 40px;
  --gap--24: 24px;
  --padding--24: 24px;
  /* --gap--32: 32px; */
  --gap--64: 64px;
  /* --white: white; */
  --gap--8: 8px;
  /* --bg--white: white; */
  --gap--12: 12px;
  --padding--8: 8px;
  /* --border--darkbeige: #efe0c4; */
  --black: black;
  --hover--orange: #cc3716;
  --padding--164: 0px;
}


body {
  /* color: var(--text--orange); */
  background-color: black;
  font-family: Stabilgrotesk, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}


.talent {
  /* background-color: black; */
  /* padding-right: var(--gap--40);
  padding-left: var(--padding--40); */
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}


.wrapper {
  padding-top: var(--padding--64);
  padding-bottom: var(--padding--64);
  grid-column-gap: var(--gap--40);
  grid-row-gap: var(--gap--40);
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 1112px;
  display: flex;
  position: relative;
}


.talent #talent-title {
  color: white;
  font-size: 50px;
  margin: 0;
  display: flex;
  align-items: baseline;
}

.letterU {
  font-family: 'DFVN 36daysoftype', sans-serif;
  font-size: 50px;
  margin-right: 5px;
}

.lineup {
  font-family: 'DFVN 36daysoftype', sans-serif;
  font-size: 50px;
  margin-left: 15px;
}

.speaker-img {
  border: 1px solid white;
  border-radius: 8px;
  box-sizing: border-box;
}



.button {
  padding: 11px var(--padding--24) 13px;
  aspect-ratio: auto;
  background-color: var(--bg--orange);
  color: var(--white);
  object-fit: fill;
  border-radius: 40px;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
  transition: transform .2s, text-indent .4s;
}

.button:hover {
  line-height: 30px;
  transform: scale(.95);
}




.textbutton {
  grid-column-gap: var(--gap--8);
  grid-row-gap: var(--gap--8);
  align-items: flex-end;
  text-decoration: none;
  transition: font-variation-settings .2s;
  display: flex;
}

.textbutton:hover {
  text-decoration: underline;
}

.textbutton.orange {
  color: var(--bg--orange);
}


.arrow-embed {
  flex: none;
  width: 24px;
  height: 24px;
}



.heading-div {
  justify-content: space-between;
  align-items: center;
  display: flex;
}



.speakers-grid {
  grid-column-gap: var(--gap--8);
  grid-row-gap: var(--gap--40);
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: minmax(274px, 344px) minmax(274px, 344px) minmax(274px, 344px);
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: grid;
}

.speaker-card {
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  position: relative;
}

.speaker-img {
  object-fit: fill;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.speaker-img.basic {
  z-index: 1;
}

.speaker-img.hover {
  object-fit: fill;
  display: block;
}



.many-more-div {
  padding-bottom: var(--padding--64);
  text-align: center;

}

.ticket-lottie-wrapper {
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  display: flex;
  overflow: hidden;
}




.speaker-hero {
  padding-right: var(--padding--64);
  padding-left: var(--padding--64);
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin-top: -64px;
  display: flex;
  position: relative;
}

.speaker-hero.hide {
  display: none;
}

.lottie-hero {
  display: block;
}

.speaker-item {
  flex: none;
  width: 100%;
  height: 430px;
  padding: .5%;
  transition: padding .1s;
}

.speaker-item:hover {
  padding: 0;
}

.speaker-item.slider {
  width: 344px;
  margin-right: 37px;
}

.speaker-item.hide {
  display: none;
}

.speaker-wrapper {
  min-height: 400px;
}

.speaker-wrapper.hide {
  display: none;
}

.list-vertical {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr .5fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  width: 100%;
  display: grid;
}




@media screen and (max-width: 991px) {
  #talent-section {
    background: none !important;
    background-color: black !important;
    margin-top: 3000px !important;
  }

  .heading-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .heading-div span {
    font-size: 40px !important;
  }

  
  .talent .section.beige.hero,
  .talent .section.orange.hero {
    min-height: auto;
  }
  
  .speaker-wrapper {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .wrapper.home-speaker-wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .wrapper no-padding {
    padding-bottom: 0px;
  }

  .many-more-div {
    padding-bottom: 0px;
  }



  .talent .section.mob-nop-p {
    padding-bottom: 64px;
  }

  .talent .talent.nav,
  .talent .container.navlist {
    padding-right: var(--padding--40);
    padding-left: var(--padding--40);
  }

  .talent .wrapper.no-bottom-p {
    padding-bottom: 0;
  }

  .talent .hero-wrapper.full-width.location-hero {
    padding-right: var(--gap--40);
    padding-left: var(--gap--40);
  }

  .talent .hero-wrapper.full-width.home {
    padding-right: var(--padding--40);
    padding-left: var(--padding--40);
  }

  .talent .speakers-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .talent .speaker-img.basic {
    position: relative;
  }

  .talent .speaker-img.hover {
    display: none;
  }

  .talent .horizontal-wrapper.orange {
    flex-direction: column;
  }

  .talent .bi-logo-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .talent .sponsor-grid {
    grid-column-gap: var(--gap--24);
    grid-row-gap: var(--gap--24);
    grid-auto-columns: 1fr;
    justify-content: end;
  }

  .talent .cta-text-img.desktop {
    display: none;
  }

  .talent .cta-text-img.mobile {
    display: block;
  }

  .talent .nav-list {
    transform: translate(0, -150%);
  }

  .talent .speakers-list {
    padding-right: var(--padding--24);
    padding-left: var(--padding--24);
  }

  .talent .speaker-line-div:hover {
    background-color: var(--white);
    color: var(--text--orange);
  }

  .talent .info-grid {
    grid-column-gap: var(--gap--24);
    grid-row-gap: var(--gap--24);
    grid-template-columns: 1fr 1fr;
  }

  .talent .info-grid-item {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    border-radius: 12px;
    justify-content: center;
    max-width: none;
    position: relative;
  }

  .talent .info-cat {
    position: absolute;
    inset: auto auto 16px;
  }

  .talent .half-grid {
    flex-direction: column;
    display: flex;
  }

  .talent .half-div {
    border-radius: 12px;
  }

  .talent .social-card {
    padding: var(--padding--40);
  }

  .talent .full-width {
    border-radius: 12px;
  }

  .talent .group-ticket-div {
    height: 300px;
  }

  .talent .ticket-item-left {
    max-width: 388px;
  }

  .talent .postcard-div {
    height: auto;
    min-height: 310px;
  }

  .talent .speaker-hero {
    min-height: auto;
  }

  .talent .speaker-item {
    height: auto;
  }

  .talent .bubble-wrapper,
  .talent .top-bubble,
  .talent .bottom-bubble,
  .talent .top-left-bubble {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
  }

  .talent .tabs-menu {
    width: 100%;
    position: relative;
    top: auto;
  }

  .talent .legal-tab {
    flex-direction: column-reverse;
  }

  .talent .image-2 {
    width: 25%;
    max-width: 50%;
    top: 75%;
  }

  .talent .founding-lottie {
    width: auto;
  }

  .talent .rounded-img.welowe-left {
    height: 100%;
  }

  .talent .b-id-slider-img {
    height: auto;
  }

  .talent .program-div.bg-o.mobile {
    height: 500px;
  }

  .talent .program-div.bg-o.abs {
    border-top: 4px solid var(--white);
    width: 100%;
    height: 446px;
    position: absolute;
    inset: auto 0% 0% auto;
  }

  .talent .program-div.big-brake {
    overflow: hidden;
  }

  .talent .grid-program.desktop {
    display: none;
  }

  .talent .grid-program.mobile {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .talent .grid-2 {
    position: relative;
  }

  .talent .t-mobile-text {
    display: block;
  }

  .talent .no-prog-img {
    inset: 0%;
  }
}

@media screen and (max-width: 479px) {
  .map-div {
    grid-column-gap: var(--gap--24);
    grid-row-gap: var(--gap--24);
    flex-direction: column;
  }

  .map-wrapper {
    border-radius: 12px;
    height: 400px;
  }

  .map .heading-div {
    display: block;
    margin-bottom: 0px;
  }

  .section.orange p {
    display: block;
    /* Đổi thành block để xuống dòng */
    text-align: center;
  }


  .talent .heading-div {
    flex-wrap: wrap;

  }

  .talent .speakers-grid {
    grid-template-columns: 1fr 1fr;
  }

  .talent .horizontal-wrapper.beige {
    padding: 0;
  }

  .talent .div-left.contact.p-right {
    padding-right: 0;
  }

  .talent .privacy-text {
    grid-column-gap: var(--gap--12);
    grid-row-gap: var(--gap--12);
    flex-flow: column wrap;
    display: flex;
  }

  .talent .nav-list {
    transform: translate(0, -150%);
  }

  .talent .full-w-img {
    aspect-ratio: auto;
    height: 240px;
    min-height: 240px;
  }

  .talent .full-w-img.mobile {
    height: auto;
  }

  .talent .full-w-img.location {
    object-fit: cover;
  }

  .talent .tab-link {
    border-radius: 48px;
    flex: none;
  }

  .talent .tab-menu {
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    overflow: auto;
  }

  .talent .tabs {
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }

  .talent .social-card {
    padding-left: 20px;
    padding-right: 20px;
  }

  .talent .contact-form {
    align-items: stretch;
  }

  .talent .speaker-hero {
    padding-right: var(--gap--24);
    padding-left: var(--gap--24);
    margin-top: 0;
  }

  .talent .utility-page-wrap {
    height: 80vh;
  }

  .talent ._404 {
    font-size: 58px;
    line-height: 120px;
  }

  .talent .image-2 {
    width: 35%;
    top: 60%;
  }

  .talent .text-block-2,
  .talent .heading-3,
  .talent .heading-4 {
    font-weight: 400;
  }

  .talent .partner-lottie.cmsupply {
    margin-top: -84px;
  }

  .talent .galery-wrapper,
  .talent .galery-list {
    min-height: 240px;
  }

  .talent .galery-item {
    width: 68%;
    height: 240px;
    min-height: 240px;
  }

  .talent .div-block-20,
  .talent .div-block-21,
  .talent .div-block-22,
  .talent .div-block-24,
  .talent .div-block-25,
  .talent .div-block-26,
  .talent .div-block-27,
  .talent .div-block-28 {
    border-radius: 12px;
  }

  .talent .t-slider-list {
    justify-content: flex-end;
  }
}

/* -----TICKET----- */


.sectionn {
  /* background: linear-gradient(to right, black, #0066FF, #000642);  */
  /* background: linear-gradient(45deg, #FFFF5F, #FB6353, #BF91F1, #0066FF, #000642); */
  background: linear-gradient(to right, #BF91F1, #1DFFA2, #0066FF, #000642);
  /* background: linear-gradient(to right, #FFFF5F, #FB6353, #BF91F1, #0066FF, #000642); */


  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}


.sectionn .check-btn {
  background-color: white;
  color: #000642;
  border-radius: 20px;
  padding: 10px;
}

.hidden {
  display: none;
}


.ticket-item {
  color: #000642;
  border-radius: 3rem;
  /* background-color: #fcf6eb; */
  background-color: white;
  border-bottom: 1px solid #ffb4a4;
  justify-content: space-between;
  align-items: flex-start;
  width: fit-content;
  padding: 6rem;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.ticket-button-div .button {
  background: linear-gradient(to right, #1DFFA2, #0066FF, #000642);

}

.ticket-item.last {
  border-bottom-style: none;

}

.ticket-item-left {
  grid-column-gap: var(--gap--24);
  grid-row-gap: var(--gap--24);
  flex-direction: column;
  max-width: 797.328px;
  display: flex;
}

.ticket-item-right {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}


.ticket-title {
  font-family: 'DFVN 36daysoftype', sans-serif;
  font-size: 30px;
  line-height: 64px;
}

.ticket-info {
  font-family: 'Ganh Type - Regular', sans-serif;

}

.prize-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.prize-info-text {
  font-size: 16px;
  line-height: 24px;
}

/* section stage */

.section .stage {
  background-color: black;
}

.bubble-wrapper h3 {
  background: linear-gradient(to right, #FFFF5F, #FB6353, #BF91F1, #0066FF, #000642);
  /* Gradient */
  -webkit-background-clip: text;
  /* Chỉ áp dụng gradient vào chữ */
  -webkit-text-fill-color: transparent;
  /* Làm cho phần không có màu nền thành trong suốt */
  text-align: center;
  /* Căn giữa chữ */

}

.event-section {
  padding: 20px;
}

.event-section .row {
  display: flex;
  align-items: stretch;
}

.event-section .col {
  flex: 1;
}

.event-section .image-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.image-col img {
  width: 200px;
  height: auto;
  box-shadow: 0 4px 8px whitesmoke;
  /* Hiệu ứng đổ bóng */
}

.event-section .event-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.event-section .text-col {
  font-size: 18px;
  line-height: 1.6;
  color: white;
}

.event-text p {
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 4px 4px whitesmoke;
  /* Hiệu ứng đổ bóng */
  padding: 5px;
  /* background: white; */
  color: white;
  text-align: center;
  font-family: 'DFVN 36daysoftype', sans-serif;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.event-text-info {
  font-family: 'Ganh Type - Regular', sans-serif;
}


/* Base styles remain the same */

@media screen and (max-width: 1024px) {
  #ticket-section{
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }

  /* Adjustments for tablets and smaller desktops */
  .ticket-item {
    padding: 4rem;
    flex-direction: column;
    align-items: center;
  }

  .ticket-title {
    font-size: 48px;
    /* Reduce title size */
    line-height: 56px;
  }

  .prize-text {
    font-size: 20px;
    line-height: 28px;
  }

  .prize-info-text {
    font-size: 14px;
    line-height: 22px;
  }

  .ticket-item-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .button {
    padding: 0.5rem 1rem;
    /* Smaller button padding */
    font-size: 16px;
  }

}

@media screen and (max-width: 768px) {

  /* Adjustments for mobile devices */
  .sectionn {
    padding: 1rem;
  }

  .ticket-item {
    padding: 2rem;
    /* Further reduce padding */
    width: 100%;
    /* Full-width */
    margin: 5rem;
  }

  .ticket-title {
    font-size: 36px;
    /* Smaller title for mobile */
    line-height: 44px;
    text-align: center;
    /* Center-align title on mobile */
  }

  .ticket-item-left {
    max-width: 100%;
    /* Full width */
    text-align: center;
  }

  .prize-text {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  .prize-info-text {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }

  .button {
    width: 100%;
    /* Full-width button on mobile */
    font-size: 16px;
    padding: 0.5rem;
  }

  .ticket-item-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .check-btn {
    display: block;
    width: 80%;
    margin: 1rem auto;
    text-align: center;
    padding: 0.5rem;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

/* -------FAQ -------*/

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}


.faq #faq-title {
  color: white;
  font-size: 50px;
  font-family: 'DFVN 36daysoftype', sans-serif;
  white-space: normal;
}

.faq-list {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  display: flex;
}

.faq-item {
  padding: var(--padding--32);
  grid-column-gap: var(--gap--24);
  grid-row-gap: var(--gap--24);
  cursor: pointer;
  background: linear-gradient(to right, #1DFFA2, #0066FF, #000642);
  /* Gradient */
  border-radius: 16px;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.ques-div {
  color: white;
  justify-content: space-between;
  font-size: 24px;
  line-height: 32px;
  display: flex;
}

.ans-div {
  padding-right: var(--padding--24);
  color: white;
}

.faq-arrow-div {
  width: 32px;
  height: 32px;
  transform: rotate(180deg);
}

.ans-div {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.ans-div.active {
  max-height: 200px;
  /* Adjust based on content size */
  opacity: 1;
}

.faq-arrow-div.rotate {
  transform: rotate(0deg);
  /* Rotate arrow on toggle */
}

.faq-arrow-div.rotate.active {
  transform: rotate(180deg);
}

/* CSS dành cho mobile view */
@media (max-width: 768px) {
  .bubble-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .top-bubble,
  .bottom-bubble {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* Khoảng cách giữa các ảnh */
  }

  .top-left-bubble,
  .top-right-bubble {
    display: flex;
    justify-content: center;
  }

  .bubble-img {
    max-width: 100%;
    height: auto;
    margin: 10px auto;
  }

  .heading-div {
    text-align: center;
  }

  .event-section .row {
    flex-direction: column;
    /* Chuyển thành cột dọc cho thiết bị nhỏ */
  }

  .event-section .image-col,
  .event-section .text-col {
    width: 100%;
    /* Đảm bảo mỗi phần chiếm 100% chiều rộng */
    margin-bottom: 20px;
    /* Khoảng cách giữa ảnh và văn bản */
  }

  .image-col img {
    width: 100%;
    /* Ảnh chiếm toàn bộ chiều rộng */
    height: auto;
    /* Đảm bảo ảnh giữ tỷ lệ */
  }

  .event-text p {
    font-size: 20px;
    /* Giảm kích thước chữ trên mobile */
  }

  .event-text {
    color: white;
    padding: 10px;
    text-align: center;
  }

  .moreinfo {
    display: none;
  }

  .faq-wrapper {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .faq #faq-title {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1px; /* Điều chỉnh khoảng cách giữa các ký tự */
    line-height: 1.5; 
  }
}



/* ---------IMG--------- */

.background {
  display: flex;
  justify-content: center;
}

.horizontal-wrapper {
  grid-column-gap: var(--gap--40);
  grid-row-gap: var(--gap--40);
  background-color: var(--white);
  color: var(--bg--orange);
  border-radius: 16px;
  justify-content: space-between;
  display: flex;
}

.horizontal-wrapper.beige {
  background-color: var(--bg--beige);
}

.horizontal-wrapper.orange {
  background-color: var(--bg--orange);
  color: var(--text--white);
}

.horizontal-wrapper.orange.hide {
  display: none;
}

.horizontal-wrapper.orange.vertical {
  flex-flow: column;
  padding: 64px;
}

.horizontal-wrapper.no-bg {
  background-color: #fff0;
}

.horizontal-wrapper.no-bg.text-wh {
  color: var(--text--white);
}

.horizontal-wrapper._w-padding {
  padding: var(--padding--32);
}

.horizontal-wrapper._w-padding.beige-bg {
  background-color: var(--bg--beige);
}

.div-left {
  grid-column-gap: var(--gap--40);
  grid-row-gap: var(--gap--40);
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.div-left.center {
  justify-content: center;
}

.div-left.center.right-p {
  padding-right: 60px;
}

.div-left.center.right-p.gap-32 {
  grid-column-gap: var(--gap--32);
  grid-row-gap: var(--gap--32);
}

.div-left.contact {
  justify-content: flex-start;
}

.div-left.contact.p-right {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding-right: 56px;
}

.div-right {
  grid-column-gap: var(--gap--40);
  grid-row-gap: var(--gap--40);
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.img-wrapper {
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.full-w-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.full-w-img.mobile {
  display: none;
}

.full-w-img.from-bottom {
  object-position: 50% 100%;
}

.full-width-sec-img {
  justify-content: center;
  align-items: center;
}

/* -----MAP----- */

h2 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Abcgravity Xcompressed, sans-serif;
  font-size: 104px;
  font-weight: 400;
  line-height: 88px;
}

h3 {
  letter-spacing: .8px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Abcgravity Semicondensed, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

h4 {
  letter-spacing: .64px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Abcgravity, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

h5 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Abcgravity Semicondensed, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
}

p {
  margin-bottom: 24px;
}

a {
  color: var(--text--white);
  text-decoration: underline;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}


img {
  max-width: 100%;
  display: inline-block;
}

.section {
  /* background-color: var(--text--white); */
  width: 100%;
  position: relative;
}

.section.orange {
  background: linear-gradient(to right, #FFFF5F, #FB6353, #BF91F1, #0066FF, #000642);
  /* Gradient */
  color: var(--text--white);
}

.section.orange p {
  font-family: 'DFVN 36daysoftype', sans-serif;
  font-size: 50px;
  white-space: nowrap;
}

.section.orange.hero-text {
  min-height: 352px;
}

.section.orange.faq {
  padding-bottom: 96px;
}

.map {

  padding-right: var(--gap--40);
  padding-left: var(--padding--40);
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}



.wrapper {
  padding-top: var(--padding--64);
  padding-bottom: var(--padding--64);
  grid-column-gap: var(--gap--40);
  grid-row-gap: var(--gap--40);
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 1112px;
  display: flex;
  position: relative;
}

.button {
  padding: 11px var(--padding--24) 13px;
  aspect-ratio: auto;
  background-color: var(--bg--orange);
  color: var(--white);
  object-fit: fill;
  border-radius: 40px;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
  transition: transform .2s, text-indent .4s;
}

.button:hover {
  line-height: 30px;
  transform: scale(.95);
}

.button.light {
  background-color: var(--bg--beige);
  color: var(--text--orange);
  text-align: center;
  flex: none;
  text-decoration: none;
}

.button.contact {
  margin-top: 8px;
  padding: 9px 20px 11px;
  font-size: 20px;
  line-height: 28px;
}

.text-block {
  color: var(--text--orange);
}

.textbutton {
  grid-column-gap: var(--gap--8);
  grid-row-gap: var(--gap--8);
  align-items: flex-end;
  text-decoration: none;
  transition: font-variation-settings .2s;
  display: flex;
}

.textbutton:hover {
  text-decoration: underline;
}

.textbutton.light {
  color: var(--text--white);
}

.textbutton.orange {
  color: var(--bg--orange);
}

.arrow-embed {
  flex: none;
  width: 24px;
  height: 24px;
}



.map-div {
  grid-column-gap: var(--gap--40);
  grid-row-gap: var(--gap--40);
  justify-content: space-between;
  display: flex;
}

.location-img {
  border-radius: 16px;
  overflow: hidden;
}

.location-left-div {
  grid-column-gap: var(--gap--40);
  grid-row-gap: var(--gap--40);
  flex-direction: column;
  width: 100%;
  max-width: 536px;
  display: flex;
}

.map-wrapper {
  width: 600px;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.map-embed {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Stabilgrotesk';
  src: url('https://cdn.prod.website-files.com/65b0d1f8e005f449e8cf1563/65e06039be50d6fc7bc2b2fd_StabilGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stabilgrotesk';
  src: url('https://cdn.prod.website-files.com/65b0d1f8e005f449e8cf1563/65e060390cc16e24eaa04a94_StabilGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Abcgravity';
  src: url('https://cdn.prod.website-files.com/65b0d1f8e005f449e8cf1563/65b374701ee6dff9cdb938a6_ABCGravity-Normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Abcgravity Semicondensed';
  src: url('https://cdn.prod.website-files.com/65b0d1f8e005f449e8cf1563/65b374706fa081f5049c1ef4_ABCGravity-SemiCondensed.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Abcgravity Xcompressed';
  src: url('https://cdn.prod.website-files.com/65b0d1f8e005f449e8cf1563/65b37470e74bf1f004ca620d_ABCGravity-XCompressed.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stabilgrotesktrial';
  src: url('https://cdn.prod.website-files.com/65b0d1f8e005f449e8cf1563/65b373af09cbd2989a707940_StabilGroteskTrial-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stabilgrotesktrial';
  src: url('https://cdn.prod.website-files.com/65b0d1f8e005f449e8cf1563/65b373af996da28bcf1b5e9b_StabilGroteskTrial-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stabilgrotesktrial';
  src: url('https://cdn.prod.website-files.com/65b0d1f8e005f449e8cf1563/65b373af3e5b85e23fc03ead_StabilGroteskTrial-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stabilgrotesktrial';
  src: url('https://cdn.prod.website-files.com/65b0d1f8e005f449e8cf1563/65b39157d223da06d07902aa_StabilGroteskTrial-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* ntt */

/* .ntt #ntt-title {
  color: wheat;
  font-size: 50px;
  font-family: 'DFVN 36daysoftype', sans-serif;
} */

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.ntt-logo {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.ntt-logo:before,
.ntt-logo:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.ntt-logo:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.ntt-logo:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.ntt-logo:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  width: max-content;

  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 100px;
  margin: 0 40px;
}

/* footer */
.footer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.content-social {
  position: relative;
  bottom: 60px;
}

.footer p {
  color: white;
  font-size: 50px;
  font-family: 'DFVN 36daysoftype', sans-serif;
}

.footer .logo-social a {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  left: 10px;
}

.footer .logo-social a img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  cursor: pointer;
}

